.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 22.5%;
  right: 19.1667%;
  top: 22.5%;
  bottom: 19.1667%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
